node_modules
*.log
dist
coverage
.DS_STORE
.idea
.vscode
.rpt2_cache
lib

# yarn
.pnp.*
.yarn/*
!.yarn/cache/.gitignore
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vercel
